.Rproj.user/
canopy.Rproj
output/compile/both*
output/compile/twig*
data/rasters/*e00
data/media/supp.video.mp4
data/lidar/random/clips.50m/
data/lidar/random/clips.10m/
data/lidar/random/normalized/
data/lidar/raw/
explore/
